@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Práctica Final - UI para Brands.</h1>
    <p>José Manuel Rodríguez Morales</p>
</div>